.card {
	border-radius: 20px;
	padding: var(--spacing-200);
	width: 384px;
	height: 522px;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-200);
	border: 1px solid var(--gray-950);
	box-shadow: 8px 8px 0 0 black;
}

.card-image {
	border-radius: 10px;
}

.card-content {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-150);
}

.card-category {
	border-radius: var(--spacing-50);
	background-color: var(--yellow);
	padding: var(--spacing-50) var(--spacing-150);
	width: fit-content;
}

.card-description {
	color: var(--gray-500);
}

.card-author {
	width: fit-content;
	height: fit-content;
	display: flex;
	align-items: center;
	gap: var(--spacing-150);
}

.card-author-avatar {
	width: 32px;
	aspect-ratio: 1/1;
}

.card-title {
	transition: color 200ms ease;
}

.card-title:hover {
	color: var(--yellow);
	cursor: pointer;
	transition: color 200ms ease;
}
